/* 
    Document   : estilo
    Created on : 28/04/2010, 03:27:20 PM
    Author     : Daniel Castillo
    Description:
        Purpose of the stylesheet follows.
*/

#envoltorio {}

#contenido {}

#encabezadoPagina {}

#menuSuperior {}

#menuLateral {}

#piePagina {}

#divCampos {
    margin: .4em 0;
}

#divCampos label {
    width: 40%;
    float: left;
}

#divCampos imput {
    padding: .2em;
}

#divCampos select {
    padding: .2em;
}

.claseError {

}

#divErrorLogin {

}

.loginError {

}


.contenedor-reporte-arriba{
    margin-bottom:20px;
}


legend{
    height: 30px;
    color: #000000;
    font-family:"Century Gothic",Arial, Helvetica, Sans-Serif;
    font-size: 14px;
    font-style: normal;
    font-weight: bold;
    white-space : nowrap;
    padding: 0 6px;
    line-height: 30px;
    background-position:left top;
	background-image: url('images/BlockHeaderIcon.png');
        padding:0 0 0 24px;
	background-repeat: no-repeat;
	min-height: 14px;
	margin: 0 0 0 5px
}

.claseError{
    font-weight: bold;
    color: darkred;
}