<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <mapping class="gt.edu.usac.cats.dominio.AsignacionCatedraticoHorario"/>
        <mapping class="gt.edu.usac.cats.dominio.AsignacionUsuarioPerfil"/>
        <mapping class="gt.edu.usac.cats.dominio.DetalleAsignacion"/>
        <mapping class="gt.edu.usac.cats.dominio.AsignacionIndicador"/>
        <mapping class="gt.edu.usac.cats.dominio.AsignacionDocumento"/>
        <mapping class="gt.edu.usac.cats.dominio.Usuario"/>
        <mapping class="gt.edu.usac.cats.dominio.Documento"/>
        <mapping class="gt.edu.usac.cats.dominio.CursoExtra"/>
        <mapping class="gt.edu.usac.cats.dominio.Catedratico"/>
        <mapping class="gt.edu.usac.cats.dominio.Indicador"/>
        <mapping class="gt.edu.usac.cats.dominio.CalendarioActividades"/>
        <mapping class="gt.edu.usac.cats.dominio.Salon"/>
        <mapping class="gt.edu.usac.cats.dominio.ProgramaCurso"/>
        <mapping class="gt.edu.usac.cats.dominio.Pensum"/>
        <mapping class="gt.edu.usac.cats.dominio.Escuela"/>
        <mapping class="gt.edu.usac.cats.dominio.AsignacionRolPerfil"/>
        <mapping class="gt.edu.usac.cats.dominio.Semestre"/>
        <mapping class="gt.edu.usac.cats.dominio.Estudiante"/>
        <mapping class="gt.edu.usac.cats.dominio.AreaEstudio"/>
        <mapping class="gt.edu.usac.cats.dominio.NotaIndicador"/>
        <mapping class="gt.edu.usac.cats.dominio.AsignacionCursoPensum"/>
        <mapping class="gt.edu.usac.cats.dominio.Perfil"/>
        <mapping class="gt.edu.usac.cats.dominio.Curso"/>
        <mapping class="gt.edu.usac.cats.dominio.Log"/>
        <mapping class="gt.edu.usac.cats.dominio.Horario"/>
        <mapping class="gt.edu.usac.cats.dominio.Asignacion"/>
        <mapping class="gt.edu.usac.cats.dominio.Desasignacion"/>
        <mapping class="gt.edu.usac.cats.dominio.Rol"/>
        <mapping class="gt.edu.usac.cats.dominio.CursoAprobado"/>
        <mapping class="gt.edu.usac.cats.dominio.ConteoAsignacion"/>
        <mapping class="gt.edu.usac.cats.dominio.Carrera"/>
        <mapping class="gt.edu.usac.cats.dominio.AsignacionCatedraticoEscuela"/>
        <mapping class="gt.edu.usac.cats.dominio.AsignacionEstudianteCarrera"/>
        <mapping class="gt.edu.usac.cats.dominio.CuentaCorriente"/>
        <mapping class="gt.edu.usac.cats.dominio.Movimiento"/>
        <mapping class="gt.edu.usac.cats.dominio.Situacion"/>
        <mapping class="gt.edu.usac.cats.dominio.HistorialAsignacionEstudianteCarrera"/>
        <mapping class="gt.edu.usac.cats.dominio.LugarNacimiento"/>
        <mapping class="gt.edu.usac.cats.dominio.Nacionalidad"/>
        <mapping class="gt.edu.usac.cats.dominio.AsignacionPrimerIngreso"/>
        <mapping class="gt.edu.usac.cats.dominio.DetalleAsignacionPrimerIngreso"/>
        <mapping class="gt.edu.usac.cats.dominio.Persona"/>
        <mapping class="gt.edu.usac.cats.dominio.HorarioDia"/>
        <mapping class="gt.edu.usac.cats.dominio.PensumEstudianteCarrera"/>
        <mapping class="gt.edu.usac.cats.dominio.conf.Reporte"/>
        <mapping class="gt.edu.usac.cats.dominio.BoletaBanco"/>
        <mapping class="gt.edu.usac.cats.dominio.AsignacionEquivalencia"/>
    </session-factory>
</hibernate-configuration>
