/* 
    Document   : estilo
    Created on : 28/04/2010, 03:27:20 PM
    Author     : Daniel Castillo
    Description:
        Purpose of the stylesheet follows.
*/

#divCampos {
    margin: .4em 0;
}

#divCampos label {
    width: 15%;
    float: left;
}

#divCampos imput {
    padding: .2em;
}

#divCampos select {
    padding: .2em;
}

.claseError {
    
}